<h1>Renda</h1>

<%= link_to "Adicionar uma renda", new_income_path %>

<% @incomes.each do |i| %>
  <p> <%= link_to i.income_type, i %> </p>
  <p> <%= i.value %></p>
  <p> <small>Criado hรก <%= time_ago_in_words(i.created_at) %></small> </p>
  <hr />
<% end %>